extends templates/default

block content
    .container-fluid.custab(style="margin-right:2em; margin-left:2em; margin-top: 7em; background-color:#fff; padding:3em;")
      .row
        .col-md-12
          // Services Section
          .step
            b.whb 1 - Crie uma carteira de Bitcoin.
            p Hoje em dia, comprar e vender BTC é muito fácil, inclusive para quem nunca ouviu falar na moeda. O primeiro passo é criar uma carteira de Bitcoin virtual. Como o nome já sugere, a sua carteira é uma conta digital que facilita todos os tipos de transação, como comprar, armazenar e vender BTC; pense nela como a sua conta de banco. No entanto, ao contrário de toda a burocracia necessária para abrir uma conta em um banco físico, abrir uma carteira de BTC leva menos de um minuto e o procedimento pode ser feito todo online.
              ul
                li
                  | Os websites Coinbase.com, Coinmkt.com, Blockchain.info e Hivewallet.com são apenas alguns exemplos de carteiras com boa reputação, confiáveis e fáceis de serem utilizadas por iniciantes.
          .step
            b.whb 2 - Vincule a sua conta de banco à sua carteira.
            p Depois de abrir a sua carteira virtual, é hora de comprar os seus primeiros BTC. Normalmente, para fazer isso, você precisará fornecer os dados de uma conta de banco real, assim como se estivesse fazendo um depósito na sua conta de Paypal ou de qualquer outro serviço de pagamento virtual. Em geral, serão pedidos, pelo menos, os seguintes dados: o número da conta, da agência e o seu nome completo. Esses números podem ser encontrados facilmente acessando o site do seu banco.
              ul(style="padding-right:2em;")
                li Também pode ser requisitada uma opção de contato, como um número de telefone.
                li
                  | Vincular a sua conta de banco A uma carteira de BTC não é mais ou menos seguro do que fazer compras online. Qualquer website sério e com boa reputação que trabalhe com Bitcoins deixa claros os seus altos padrões de segurança e de encriptação de dados. Embora esses serviços tenham sido alvos de ataques de hackers no passado, o mesmo aconteceu com qualquer grande revendedor online.
          .step
            b.whb 3 - Compre BTC com dinheiro da sua conta.
            p Depois de fornecer os seus dados bancários e de eles serem verificados, você não deve ter dificuldades em comprar BTC. Normalmente, na página da sua carteira virtual, existe um botão chamado "Buy Bitcoin" ou algo similar; basta clicar nele e seguir os passos para transferir dinheiro da sua conta para a sua carteira de Bitcoin.
              ul(style="padding-right:2em;")
                li
                  | É importante ressaltar que o preço do BTC pode e, de fato, varia de um dia para o outro; às valores em valores significativos. Como o Bitcoin é uma moeda relativamente nova, o mercado ainda é muito instável. A cotação atual do BTC deve aparecer antes de você completar a transação; em outubro de 2014, por exemplo, 1 BTC valia $350 dólares.
          .step
            b.whb 4 - Use os seus BTC para comprar de revendedores que o aceitam.
            p Recentemente, várias grandes empresas começaram a aceitar BTC como forma de pagamento. Embora elas ainda sejam minoria, alguns dos maiores varejistas online já aderiram a essa nova tendência. Confira a lista a seguir de websites que aceitam essa moeda:
              ol(style="padding-right:2em;")
                li Amazon.
                li Wordpress.
                li Overstock.com.
                li Bitcoin.travel.
                li Victoria's Secret.
                li Subway.
                li Zappos.
                li Whole Foods.
            p Se você tiver experiência em mercados, é possível fazer os seus BTC renderem mais comprando-os quando a cotação estiver baixa e gastando-os quando ela estiver alto. Depois disso, você pode vender os itens comprados para obter um lucro ou simplesmente guardá-los.
          .step
            b.whb 5 - Venda os seus BTC para outro usuário.
            p Infelizmente, vender BTC não é tão simples quanto comprá-los. Não existe um método para "sacá-los" de volta para o seu banco; em vez disso, você precisará encontrar um comprador disposto a pagar por eles com dinheiro, produtos ou serviços. Em geral, a maneira mais fácil de fazer isso é se registrando em um mercado de Bitcoins, onde, depois de encontrar um comprador, o website intermediará a negociação. Para utilizar esse método, você precisará criar uma conta de vendedor e verificar a sua identidade, que é um processo separado da criação da conta.
              ul(style="padding-right:2em;")
                li
                  | Nos EUA, CoinBase e LocalBitcoins são dois mercados que oferecem esse tipo de serviço. No Reino Unido, BitBargain e Bittylicious são duas opções confiáveis.
                li
                  | Além disso, alguns sites, como o Purse.io, permite que vendedores transfiram os BTC ao comprador, que, em seguida, compra algum produto online e o envia diretamente para casa do vendedor. No final das contas, isso nada mais é do que uma maneira de usar os seus BTC para comprar em sites que não aceitam a moeda virtual.
          .step
            b.whb 6 - Alternativamente, venda os BTC em um site de troca.
            p Uma outra boa opção para vendedores é utilizar um site de trocas. Eles funcionam pareando duas partes: uma interessada em vender e outra, em comprar. Uma vez que isso seja feito, o site funciona como intermediador, retendo o dinheiro até que os dois usuários sejam verificados e a transação seja completada. Normalmente, há uma pequena taxa associada ao uso desses serviços. É importante ressaltar que esse processo não costuma ser muito rápido. Na verdade, existem vários relatos de casos em que esses sites demoraram muito tempo para concluir a transação, principalmente se comparados às outras alternativas.
              ul(style="padding-right:2em;")
                li Dentre os sites de trocas, algumas opções famosas são Circle, Kraken e Virtex.
                li
                  | Ainda, existem alguns sites, como o Bitcoinshop, que permitem a troca de BTC por outras moedas digitais, como o Dogecoin e o Litecoin.


    footer
      .container
        .row
          .col-md-4
            span.copyright Copyright © Your Website 2016
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
          .col-md-4
            ul.list-inline.quicklinks
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Terms of Use